mozilla/
environment.d/
dconf/
discord/
gcloud/
qt6ct/
unity3d/
fontconfig/
font-manager/
kate/
mozilla/
libaccounts-glib/
pulse/
systemd/
session/
xsettingsd/
emacs/recentf
nixos/hardware-configuration.nix